This is a list containing the non-functional requirements for the Calvin Fitness application.
- The app must be for Android.
- Users will share workouts via database server.
- The user should be able to figure out the basic functionality of the app in 5 minutes or less.
- Automatically update the date of a workout to be the current date, when started by a user.
- App should be usable from inside of any gym, regardless of cell service.
